<!-- start custom analytics snippet -->
<div id="footer">
        <div class="container">
            <div class="row">
                <div class="stat">
                    <!-- <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=-23A1GPVvvuNiuBYLygGVwg1KDr82CpUn5H3v7m6J9s"></script> -->
                    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=6jUeCUZs-GXzzLncpP-TA3rxAPDJWWsl_u3QAlSEoOU"></script>
                    <!--script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=-23A1GPVvvuNiuBYLygGVwg1KDr82CpUn5H3v7m6J9s&cl=ffffff&w=a"></script-->
                </div>
                <div class="copyright">
                    &copy; 2023 Xuelin Yang.<br />
                    
                </div>
            </div>
        </div>
    </div>
<!-- end custom analytics snippet -->
