---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div id="footer">
        <div class="container">
            <div class="row">
                <div style="height: 10px">
                    <!-- <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=-23A1GPVvvuNiuBYLygGVwg1KDr82CpUn5H3v7m6J9s"></script> -->
                    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=6jUeCUZs-GXzzLncpP-TA3rxAPDJWWsl_u3QAlSEoOU"></script>
                    <!--script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=-23A1GPVvvuNiuBYLygGVwg1KDr82CpUn5H3v7m6J9s&cl=ffffff&w=a"></script-->
                </div>
                <div class="copyright">
                    &copy; 2023 Xuelin Yang.<br />
                    
                </div>
            </div>
        </div>
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
